form {
  background-color: #062226;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-image: url(/HeaderImage.jpg);
  height: 230px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

input {
  background-color: white;
  color: #062226;
  border: 1px solid gray;
  padding: 8px;
  margin-right: 8px;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #062226;
  color: white;
  border: 1px solid #062226;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: gray;
  border-color: gray;
}
